@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'DM Sans', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}


.text {
  font-family: 'PT Serif', serif;
}

.other-text {
  font-family: 'Poppins', sans-serif;

}


@layer components {
  .navbar {
    @apply  grid p-2 justify-items-end
  }
  .color-overhead{
    @apply bg-orange-500 border-4 border-orange-500
  }
  .overall{
    @apply flex flex-col justify-center items-start max-w-3xl border-gray-200 dark:border-gray-700 mx-auto pb-16
  }
  .tutorial-text {
    @apply py-3 text px-2
  }
  .pop-up {
    @apply flex justify-between items-center
  }

}
